* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.container {
    width: 1510px;
}

.header {
    display: flex;
    position: fixed;
    width: 1510px;
    height: 80px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
    z-index: 1;
}

.header__logo {
    margin: 26px 297px 26px 202px;
    cursor: pointer;
}

.header__logo__text {
    font-size: 24px;
    color: black;
}

.header__logo__text span {
    font-size: 16px;
    color: black;
}

.header__menu {
    width: 415px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 90px;
}

.header__menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__menu__list a:hover {
    color: #00bcd4;
    transition: all 0.5s;
}

.header__menu__list a:focus {
    color: #00bcd4;
    transition: all 0.5s;
}

.header__menu__list__items {
    font-size: 15px;
    color: black;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.header__auth {
    width: 200px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header__login {
    width: 85px;
    height: 33px;
    background-color: white;
    border: 2px solid #00bcd4;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__login:hover {
    background-color: #00bcd4;
}

.header__login:hover a {
    color: white;
}

.header__login__text {
    font-size: 13px;
    color: #00bcd4;
}

.header__signup {
    width: 95px;
    height: 33px;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__signup:hover {
    background-color: #00a9be;
}

.header__signup__text {
    font-size: 13px;
    color: white;
}

.banner {
    width: 1510px;
    height: 800px;
    background-image: url("/images/banner-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.banner__search__container {
    width: 1510px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__search__title {
    font-size: 33px;
    color: white;
    text-align: center;
}

.banner__search {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.banner__search__input {
    width: 570px;
    height: 50px;
    border: 1px solid white;
    padding-left: 15px;
    font-size: 14px;
    color: white;
    margin-right: 20px;
    background-color: transparent;
    outline: none;
}

.banner__search input::placeholder {
    color: white;
}

.banner__search__button {
    width: 142px;
    height: 50px;
    font-size: 15px;
    color: white;
    background-color: #00bcd4;
    cursor: pointer;
}

.banner__checkbox {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.banner__search__checkbox {
    margin-right: 8px;
}

.banner__search__checkbox__label {
    font-size: 15px;
    color: white;
    margin-right: 35px;
}

.customerTrust {
    width:1510px;
    height: 230px;
    background-color: #f7f7f7;
}

.customerTrust__title {
    padding-top: 50px;
    text-align: center;
    color: black;
    font-size: 17px;
    margin-bottom: 50px;
}

.customerTrust__logo {
    display: flex;
    justify-content: center;
}

.customerTrust__logos {
    width: 1015px;
    height: 45px;
    display: flex;
    justify-content: space-between;
}

.services {
    width: 1510px;
    height: 917px;
    background-color: white;
}

.services__container {
    width: 1110px;
    height: 600px;
    padding: 145px 200px 170px 200px;
}

.services__heading {
    width: 1110px;
    height: 215px;
}

.services__heading__name {
    font-size: 15px;
    color: #00bcd4;
    font-weight: 550;
    margin-bottom: 20px;
}

.services__heading__title {
    font-size: 32px;
    color: black;
    font-weight: 700;
    margin-bottom: 20px;
}

.services__heading__content {
    font-size: 15px;
    color: #6a6a6a;
    line-height: 25px;
}

.services__provide {
    display: flex;  
    justify-content: space-between;
    width: 1110px;
    height: 385px;
}

.services__provide__items {
    width: calc(100% / 3 - 20px);
    border-radius: 5px;
    background-color: #f7f7f7;
    text-align: center;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 50px;
    margin: 0 15px;
}

.services__provide__items:first-child {
    margin-left: 0;
}

.services__provide__items:last-child {
    margin-right: 0;
}

.services__provide__item__icon {
    width: 100px;
    height: 100px;
    line-height: 100px;
    background-color: #00bcd4;
    border-radius: 50%;
    font-size: 32px;
    color: white;
}

.services__provide__item__heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 19px;
    color: black;
    letter-spacing: 0.5px;
}

.services__provide__item__content {
    font-size: 14px;
    color: #6a6a6a;
    text-align: center;
    line-height: 25px;
}