* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.container {
    width: 1510px;
}

.header {
    display: flex;
    position: fixed;
    width: 1510px;
    height: 80px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 10px 50px;
    z-index: 1;
}

.header__logo {
    margin: 26px 297px 26px 202px;
    cursor: pointer;
}

.header__logo__text {
    font-size: 24px;
    color: black;
}

.header__logo__text span {
    font-size: 16px;
    color: black;
}

.header__menu {
    width: 415px;
    margin-top: 32px;
    margin-bottom: 32px;
    margin-right: 90px;
}

.header__menu__list {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.header__menu__list a:hover {
    color: #00bcd4;
    transition: all 0.5s;
}

.header__menu__list a:focus {
    color: #00bcd4;
    transition: all 0.5s;
}

.header__menu__list__items {
    font-size: 15px;
    color: black;
    cursor: pointer;
    letter-spacing: 0.5px;
}

.header__auth {
    width: 200px;
    height: 35px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.header__login {
    width: 85px;
    height: 33px;
    background-color: white;
    border: 2px solid #00bcd4;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__login:hover {
    background-color: #00bcd4;
}

.header__login:hover a {
    color: white;
}

.header__login__text {
    font-size: 13px;
    color: #00bcd4;
}

.header__signup {
    width: 95px;
    height: 33px;
    background-color: #00bcd4;
    border: 2px solid #00bcd4;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__signup:hover {
    background-color: #00a9be;
}

.header__signup__text {
    font-size: 13px;
    color: white;
}

.banner {
    width: 1510px;
    height: 510px;
    background-image: url("../images/heading-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.banner__text {
    width: 1510px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.banner__text__heading {
    font-size: 44px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
}

.banner__text__content {
    text-align: center;
}

.banner__text__content__left {
    margin-right: 10px;
    font-size: 15px;
    text-align: center;
}

.banner__text__content__left a {
    color: white;
}

.text__slash {
    color: white;
}

.banner__text__content__right {
    margin-left: 10px;
    color: white;
    opacity: 0.75;
    font-size: 15px;
    text-align: center;
}

.aboutUs {
    width: 1510px;
    height: 782px;
    background-color: #f7f7f7;
}

.aboutUs__container {
    width: 1110px;
    height: 502px;
    padding-top: 140px;
    padding-bottom: 140px;
    padding-left: 200px;
    padding-right: 190px;
    display: flex;
    justify-content: space-between;
}

.aboutUs__left {
    width: 510px;
    height: 500px;
}

.aboutUs__left__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutUs__right {
    width: 510px;
    height: 502px;
}

.aboutUs__right__content__top {
    width: 510px;
    height: 200px;
    border-bottom: 3px solid #eee;
}

.aboutUs__right__content__top__name {
    font-size: 15px;
    color: #00bcd4;
    font-weight: 600;
}

.aboutUs__right__content__top__title {
    font-size: 32px;
    color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}

.aboutUs__right__content__top__text {
    font-size: 15px;
    color: #6a6a6a;
    line-height: 25px;
}

.aboutUs__right__content__bottom {
    width: 510px;
    padding-top: 45px;
}

.aboutUs__right__content__bottom__title {
    font-size: 18px;
    margin-right: 44px;
    margin-bottom: 45px;
    font-weight: 600;
}

.aboutUs__right__content__bottom__title:focus {
    color: #00bcd4;
    transition: 0.5s;
}

.aboutUs__right__content__bottom__content {
    margin-top: 30px;
    font-size: 14px;
    color: #7a7a7a;
    line-height: 25px;
    letter-spacing: 0.5px;
}

.ourTeam {
    width: 1510px;
}

.ourTeam__container {
    padding: 145px 0 145px 0;
}

.ourTeam__heading {
    width: 730px;
    height: 135px;
    text-align: center;
    margin: 0 auto;
}

.ourTeam__heading__name {
    font-size: 15px;
    color: #00bcd4;
    margin-bottom: 24px;
    font-weight: 600;
}

.ourTeam__heading__title {
    color: black;
    font-size: 32px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.ourTeam__heading__content {
    font-size: 15px;
    color: #6a6a6a;
    line-height: 25px;
}

.ourTeam__body {
    width: 1110px;
    height: 415px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 80px;
}

.ourTeam__items {
    width: 350px;
    height: 416px;
}

.ourTeam__item__img {
    width: 350px;
    height: 302px;
}

.ourTeam__item__namejob {
    width: 350px;
    height: 110px;
    background-color: #f7f7f7;
}

.nameAndJob {
    text-align: center;
    padding: 30px;
}

.ourTeam__item__name {
    font-size: 19px;
    color: black;
    margin-bottom: 8px;
}

.ourTeam__item__job {
    font-size: 15px;
    color: #00bcd4;
}

.testimonials {
    width: 1510px;
    height: 682px;
    background-color: #f7f7f7;
}

.testimonials__container {
    width: 900px;
    height: 478px;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 310px;
    padding-right: 310px;
}

.testimonials__container__head {
    width: 900px;
    height: 67px;
    text-align: center;
    margin-bottom: 80px;
}

.testimonials__container__name {
    font-size: 15px;
    color: #00bcd4;
    margin-bottom: 20px;
    font-weight: 600;
}

.testimonials__container__heading {
    font-size: 32px;
    color: black;
    font-weight: 600;
}

.testimonials__container__body {
    width: 900px;
    height: 328px;
    text-align: center;
}

.testimonials__container__body__icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    background: rgb(114, 2, 187);
    background: linear-gradient(145deg, rgba(114, 2, 187, 1) 0%, rgba(50, 100, 245, 1) 100%);
    color: white;
    font-size: 18px;
}

.testimonials__container__body__comment {
    font-size: 19px;
    color: #6a6a6a;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 35px;
    font-style: italic;
}

.testimonials__container__body__name {
    font-size: 19px;
    color: black;
}

.testimonials__container__body__job {
    font-size: 15px;
    color: #00bcd4;
    margin-top: 20px;
    margin-bottom: 55px;
}

.testimonials__dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    margin-right: 4px;
    background-color: #00bcd4;
}

.footer {
    width: 1510px;
    height: 503px;
    background-image: url("../images/footer-bg.jpg");
    background-repeat: no-repeat;
    object-fit: cover;
}

.footer__container {
    width: 1110px;
    height: 360px;
    padding: 80px 190px 60px 190px;
}

.footer__container__top {
    width: 1110px;
    height: 275px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
}

.footer__aboutus {
    width: 255px;
    height: 275px;
}

.aboutus__heading {
    font-size: 19px;
    color: white;
    margin-bottom: 30px;
}

.aboutus__content {
    font-size: 14px;
    color: white;
    line-height: 25px;
}

.footer__hosting__plans {
    width: 255px;
    height: 275px;
}

.hosting__plans__heading {
    font-size: 19px;
    color: white;
    margin-bottom: 30px;
}

.hosting__plans__content {
    list-style: none;
}

.hosting__plans__content__items {
    font-size: 14px;
    margin-bottom: 20px;
}

.hosting__plans__content__items a {
    color: white;
}

.hosting__plans__content__items a:hover  {
    color: rgb(200, 200, 200);
    transition: 0.3s;
}

.footer__usefulLinks {
    width: 255px;
    height: 275px;
}

.usefulLinks__heading {
    font-size: 19px;
    color: white;
    margin-bottom: 30px;
}

.usefulLinks__content {
    list-style: none;
}

.usefulLinks__content__items {
    font-size: 14px;
    margin-bottom: 20px;
}

.usefulLinks__content__items a {
    color: white;
}

.usefulLinks__content__items a:hover {
    color: rgb(200, 200, 200);
    transition: 0.3s;
}

.footer__moreInfo {
    width: 255px;
    height: 275px;
}

.moreInfo__heading {
    font-size: 19px;
    color: white;
    margin-bottom: 30px;
}

.moreInfo__content {
    font-size: 14px;
    color: white;
    margin-bottom: 20px;
}

.moreInfo__content a {
    color: white;
}

.moreInfo__content a:hover {
    color: rgb(200, 200, 200);
    transition: 0.3s;
}

.footer__container__bottom {
    width: 1110px;
}

.copyright {
    font-size: 14px;
    color: white;
    margin-top: 65px;
    text-align: center;
}